---
// Components
import NavBtn from "@components/layout/NavBtn.astro";

// Icons
import HomeIcon from "@icons/home-circle.svg";
import DartboardIcon from "@icons/dartboard.svg";
import UserIcon from "@icons/user.svg";
import StatsIcon from "@icons/stats.svg";

// Data
const pages = [
  {
    label: "Home",
    icon: HomeIcon,
    href: "/",
  },
  {
    label: "Games",
    icon: DartboardIcon,
    href: "/games",
  },
  {
    label: "Stats",
    icon: StatsIcon,
    href: "/statistics",
  },
  {
    label: "Profile",
    icon: UserIcon,
    href: "/profile",
  },
];
---
<nav class="app-nav" aria-label="Main navigation">
  <div class="mx-auto flex max-w-lg justify-around py-1">
{
    pages.map((page) => (
      <NavBtn
        href={page.href}
        label={page.label}
      >
        <page.icon aria-hidden="true" />
      </NavBtn>
    ))
  }  </div>
</nav>
