---
interface Props {
  href: string;
  label: string;
  matchPrefix?: string;
  class?: string;
}

// Props
const { href, label, matchPrefix, class: classNameProp }: Props = Astro.props;

// Lib
import { cn } from "@client/cn";
import { isNavActive } from "@lib/utils/is-nav-active";

// Styles
const active = isNavActive(Astro.url.pathname, href, matchPrefix);
const className = cn(
  "flex flex-col items-center py-1.5 justify-center text-xs focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/25 [&_svg]:size-6",
  active ? "text-accent" : "text-muted-foreground",
  classNameProp,
);
---

<a
  href={href}
  class={className}
  aria-current={active ? "page" : undefined}
>
  <slot />
  <span>{label}</span>
</a>
