---
interface Props {
  href: string;
  label: string;
  matchPrefix?: string;
  class?: string;
}

const { href, label, matchPrefix, class: classNameProp }: Props = Astro.props;

import { isNavActive } from "@lib/utils/is-nav-active";

const active = isNavActive(Astro.url.pathname, href, matchPrefix);
const className = [
  "nav-item focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/25 [&_svg]:size-6",
  active ? "nav-item-active" : "",
  classNameProp,
]
  .filter(Boolean)
  .join(" ");
---

<a href={href} class={className} aria-current={active ? "page" : undefined}>
  <slot />
  <span>{label}</span>
</a>
