---
// Components
import Button from "@components/forms/Button.astro";
---

<Button
  type="button"
  variant="secondary"
  x-data="logoutButton()"
  @click="submit"
  :disabled="loading"
>
  <span
    x-show="!loading"
    x-cloak
    >Sign out</span
  >
  <span
    x-show="loading"
    x-cloak
    >Signing out…</span
  >
</Button>
