---
// Components
import Button from "@components/forms/Button.astro";

// Icons
import LogoutIcon from "@icons/logout.svg";
import LoadingIcon from "@icons/loading.svg";
---

<Button
  type="button"
  variant="ghost"
  x-data="logoutButton()"
  @click="submit"
  :disabled="loading"
>
  <LogoutIcon
    x-show="!loading"
    x-cloak
    class="size-6"
  />
  <LoadingIcon
    x-show="loading"
    x-cloak
    class="size-6"
  />
</Button>
