---
interface Props {
  [key: string]: unknown;
}

const { ...props }: Props = Astro.props;

import SinglePlayerDisplay from "@components/layout/games/SinglePlayerDisplay.astro";
import ScoreInput from "@components/layout/games/ScoreInput.astro";
---

<div
  class="flex flex-col flex-1 min-h-0 gap-3"
  {...props}
>
  <SinglePlayerDisplay
    isTarget={false}
    score="$store.game.turns.reduce((sum, t) => sum + t.totalScore, 0)"
    class="max-h-2/5"
  />
  <div
    class="flex justify-center items-center gap-2 px-3"
    x-show="$store.game.configSnapshot?.durationType === 'MINUTES'"
    x-cloak
  >
    <p
      class="text-lg font-bold font-mono text-muted-foreground"
      x-text="`${remainingLabel()}`"
    >
    </p>
  </div>
  <p
    class="px-3 mt-2 text-error text-xs"
    x-show="error"
    x-text="error"
    x-cloak
  >
  </p>
  <ScoreInput
    value="scoreInput.value"
    digitHandler="scoreInput.appendDigit"
    onDelete="scoreInput.deleteLast($event)"
    onSubmit="submitVisit()"
    submitDisabled="!scoreInput.value || showFinishConfirm || finished"
    padDisabled="showFinishConfirm || finished"
    undoClick="undoVisit()"
    undoDisabled="!$store.game.turns.length || showFinishConfirm || finished"
  />
</div>
