---
// Todo: rebuild based on styling raycast.com
// Key detail: background glass like with gradient
---

<div class="ExtensionHighlight_categories__WswlG">
  <div
    class="ExtensionHighlight_activeBackdrop__bNKsl"
    style="--width: 107px; --offset: 20px;"
  >
  </div><div
    class="ExtensionHighlight_category__aMfDp ExtensionHighlight_active__N2OuW"
  >
    <a href="#productivity">Productivity</a>
  </div><div class="ExtensionHighlight_category__aMfDp">
    <a href="#engineering">Engineering</a>
  </div><div class="ExtensionHighlight_category__aMfDp">
    <a href="#design">Design</a>
  </div><div class="ExtensionHighlight_category__aMfDp">
    <a href="#writing">Writing</a>
  </div>
</div>
