---
export const prerender = true;
import AppLayout from "@layouts/AppLayout.astro";
---

<AppLayout title="Statistics">
  <div class="p-4">
    <h1 class="text-xl font-semibold text-fg">Statistics</h1>
  </div>
</AppLayout>
